<div class="toolbox-content-wrap">
  <div class="table-content">
    <table class="table table-striped table-hover">
      <tr>
        <td>
          <i class="fa fa-star-o"></i>
          常用表
        </td>
      </tr>
    </table>
    <table class="table table-striped table-hover">
      <tr>
        <td>
          <i class="fa fa-tasks"></i>
          全部表
        </td>
      </tr>
    </table>
  </div>
  <div class="text-center button-area">
    <a class="btn btn-default">创建表</a>
  </div>
</div>