<aside class="btn-group open context-menu" ng-controller="ExperimentFolderMenuCtrl">
  <ul class="dropdown-menu">
    <li><a ng-click="vm.createExp();"><i class="fa fa-fw fa-plus-square-o"></i>新建实验</a></li>
    <li><a ng-click=""><i class="fa fa-fw fa-plus-square-o"></i>新建空白实验</a></li>
    <li><a ng-click=""><i class="fa fa-fw fa-plus-square"></i>新建文件夹</a></li>
    <li role="separator" class="divider"></li>
    <li><a ng-click=""><i class="fa fa-fw fa-eraser"></i>重命名</a></li>
    <li><a ng-click=""><i class="fa fa-fw fa-trash-o"></i>删除</a></li>
  </ul>
</aside>