<div class="toolBox-wrap">
  <div class="workspace-selection">
    <div class="dropdown" sn-dropdown="">
      <p class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{curWorkspace || 'workspace'}}
        <span class="pull-right" style="font-size:10px;">
          <i class="fa fa-sort"></i>
        </span>
      </p>
      <ul class="dropdown-menu">
        <li><a>1</a></li>
        <li><a>2</a></li>
        <li><a>3</a></li>
      </ul>
    </div>
  </div>
  <div ui-view class="main-content"></div>
</div>