body {
  min-width: 1190px;
  overflow: auto;
  font-family: "Microsoft YaHei",Arial,"Helvetica Neue",Helvetica,sans-serif;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px
}

::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    /* border-radius: 10px */
}

::-webkit-scrollbar-track-piece {
    background-color: #EEE
}

::-webkit-scrollbar-thumb {
    background-color: #AAA;
    min-height: 50px;
    min-width: 50px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #888
}

.sidebar-mini.sidebar-collapse .main-sidebar {
  padding-top: 10px;
}
.sidebar-mini.sidebar-collapse .main-sidebar img.logo {
  max-width: 70%;
  margin: 0 auto;
  display: block;
}

.skin-blue .sidebar-menu > li > a {
  border-left: none;
  text-align: center;
  padding: 10px 0px 4px;
  /*word-break: break-all;*/
  /*white-space: normal;*/
}

.skin-blue .sidebar-menu > li > a > i {
  font-size: 20px;
}

.skin-blue .sidebar-menu > li > a > span {
  font-size: 10px;
  -webkit-transform: scale(.83) translate(0,0) !important;
}

.skin-blue .sidebar-menu > li:hover > a > span {
  display: inherit !important;
  position: inherit !important;
  width: inherit !important;
  left: inherit !important;
  top: inherit !important;
  margin: inherit !important;
  padding: 0 !important;
  background-color: inherit !important;
}

.sidebar-mini.sidebar-collapse .sidebar-menu > li > a > span {
  display: block !important;
}

.skin-blue .sidebar-menu.sidebar-menu-bottom {
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.btn-default {
  background-color: inherit;
}

.table > thead > tr > td.active, .table > tbody > tr > td.active, .table > tfoot > tr > td.active, .table > thead > tr > th.active, .table > tbody > tr > th.active, .table > tfoot > tr > th.active, .table > thead > tr.active > td, .table > tbody > tr.active > td, .table > tfoot > tr.active > td, .table > thead > tr.active > th, .table > tbody > tr.active > th, .table > tfoot > tr.active > th {
  background-color: #BACBE0;
}